.general {
  display: grid;
  margin-top: 180px;
  margin-left: 30vw;
  margin-right: 30vw;
  justify-items: center;
  grid-gap: 50px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  font-family: 'Poppins', sans-serif;
}

.cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 330px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0px 2px 20px 1px #e3e3e3;
}

.cards img {
  /* margin-top: -70px; */
  width: 100%;
  height: 85%;

  /* filter: drop-shadow(28px -22px 12px rgb(14, 14, 14)); */
}

.cards h4{
  position: absolute;
  font-weight: 400;
  padding: 5px 0;
  margin: 20px 0 0 0;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #676767;
  text-transform: capitalize;
  max-height: 90px;
  margin-bottom: auto;
  overflow: visible;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards .price p {
 text-align: center;
}

.cards .price {
  margin-top: -55px;
  width: 100%;
}

.cards .price button {
  width: 85%;
  height: 50px;
  background-color: rgba(75, 75, 255, 0.801);
  border: none;
  border-radius: 15px;
  font-size: larger;
  font-weight: 900;
  color: white;
  font-family: 'Poppins', sans-serif;
  transition: 600ms;
}

.cards .price button:hover {
  background-color: rgba(75, 75, 255, 0.514);
}


.value{
  font-weight: 700;
  padding-left: 10px;
  color: #1a62d6;
  font-size: 16px;
  margin-top: 5px;
  text-align: left;
}

.purchase-btn {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: auto;
  border-radius: 6px;
  height: 30px;
  display: flex;
  text-decoration:none;
  align-items: center;
  justify-content: center;
  background-color: #1a62d6;
  padding: 0 10px;
  width: max-content;
  margin: auto auto 0;
}



img {
  border-radius: 15px;
  width: 80px;
  height: 80px;
}

.searchResult {
  margin-left: 175px;
  color: rgb(140, 138, 143);
  margin-top: 150px;
  margin-bottom: -150px;
  font-size: x-large;
}

@media (max-width: 700px) {
.general {
  margin-top: 10px;
  margin-left: 10vw;
}

}