.cart-image-container  {
  width: 55px;
  height: 55px;
}

.cart-image-container img {
  width: 45px;
  height: 46px;
  margin: 0;
}

.cart-image-container a {
  text-decoration: none;
  cursor: pointer;
}

.cart-image-container span {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: rgb(255, 106, 80);
  padding: 2px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 35px;
  text-align: center;
  margin-left: 30px;
  letter-spacing: initial;
}
