.sidenav {
  height: 300px;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(247, 161, 63);
  box-shadow: 0 0.7rem 1rem rgb(0 0 0 / 10%);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 110px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sidenav h3 {
  color: whitesmoke;
  font-size: medium;
  padding-left:5px ;

}

.sidenav ul {
  padding: 2px;
}

.sidenav ul li {
  text-align: center;
  font-weight: 600;
  font-size: medium;
  color: antiquewhite;
  list-style: none;
  padding: 3px;
  background-color: rgb(255, 197, 109);
  margin: 2px;
  border-radius: 3px;
}

.sidenav ul li:hover {
  background-color: rgb(252, 119, 31);
}

@media (max-width: 700px) {
  .sidenav{
    height: 20vh;
    width: 100vw;
    position: relative;
    width: 100%;
    min-width: 300px;
    margin: 110px 0 0 0 ;
  }

  .sidenav ul {
    display: flex;
    padding: 2px;
  }

  .sidenav ul li {
    width: 35vw;
  }

}